@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
#input{
    height: 50px;
    width: 300px;
    font-size: 24px;
    color: darkgray;
    margin-bottom: 24px;
}
#result{
    font-size: 24px;
    text-align: center;
}
