@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(45deg, #686de0, #686ce0f8);
}
.joke {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  padding: 20px 40px;
  max-width: 800px;
  width: 90%;
  &__title {
    color: gray;
    margin-bottom: 50px;
    letter-spacing: 3px;
  }
  &__content {
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  &__btn {
    padding: 15px 35px;
    background: #9f68e0;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
    }
    &:focus {
      outline: none;
    }
  }
}
