@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #2b98f0;
}
.choice {
  max-width: 500px;
  &__title {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    margin: 0 0 30px; //maxgin-bottom
  }
  &__textarea {
    width: 100%;
    padding: 10px;
    margin: 0 0 15px;
  }
  &__tags {
    display: flex;
  }
  &__tag {
    margin-right: 5px;
    background-color: #f0932b;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    &.highlight {
      background-color: #273c75;
    }
  }
}
