@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background: rgb(238, 234, 234);
  & > h1 {
    text-align: center;
    margin: 50px 0 30px;
  }
}

.faq-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.faq {
  background: transparent;
  padding: 30px;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  &__title {
    font-weight: 600;
  }
  &__text {
    margin: 30px 0 0 0;
    display: none;
  }

  &__btn {
    background: transparent;
    cursor: pointer;
    border: 0px;
    padding: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    .fas.fa-times {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  &.active {
    background: #fff;
    .faq__text {
      display: block;
    }
    &::before,
    &::after {
      content: '\f075';
      font-family: 'Font Awesome 5 Free';
      color: #2ecc71;
      font-size: 112px;
      position: absolute;
      transform: translate(-15%, -75%);
      opacity: 0.2;
      z-index: 0;
    }
    &::before {
      color: #3498db;
      transform: rotateY(180deg) translate(60%, -50%);
    }
    .faq__btn {
      background: #9fa4a8;
      .fas.fa-times {
        display: block;
        color: white;
      }
      .fas.fa-chevron-down {
        display: none;
      }
    }
  }
}
