@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.nav {
  width: 80px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 0;
    li {
      transform: rotateY(0deg);
      opacity: 0;
      transition: transform 0.6s linear, opacity 0.6s linear;
      a {
        // position: relative;
        color: #000;
        text-decoration: none;
        margin: 0 10px;
      }
    }
  }
  &__btn {
    position: relative;
    background-color: #fff;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
  &__line {
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
    &--1 {
    }
    &--2 {
      top: auto;
      bottom: 10px;
    }
  }
  &.nav--active {
    width: 350px;
    ul {
      width: 100%;
      li {
        opacity: 1;
        transform: rotateY(360deg);
        a {
        }
      }
    }
    .nav__line {
      &--1 {
        transform: rotate(-765deg) translateY(5.5px);
      }
      &--2 {
        transform: rotate(765deg) translateY(-5.5px);
      }
    }
  }
}
